// PROJECT THEME COLORS PALETTE
$primary-purple: #9356DC;
$color-dark-purple: #6521b9;
$color-light-purple: #b47cf8;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$colors-blue: #003A68;
$colors-light-blue: #89C8FA;
$colors-green: #008766;
$colors-light-green: #99E2D0;
$page-light-grey-bg: #F3F3F3;
$header-light-grey: #EAEAEA;
$footer-color: #353535;
$grey-font: #353535;
$white-bg: #fff;
$white-font: #fff;
$black-font: #000;
$i-symbol-color: #7e7e7e;

// PROJECT FONT SIZES
$h2-font-size: 24px;
$h2-font-weight: 700;
$h2-line-height: 28.13px;

$h3-font-size: 18px;
$h3-font-weight: 700;
$h3-line-height: 21.09px;

$p-font-size: 17px;
$p-font-weight: 300;
$p-line-height: 18.75px;

$hover-box-shadow: 0 15px 5px rgba(0, 0, 0, 0.4);
$base-box-shadow: 0 5px 1px rgba(0, 0, 0, 0.4);