// PROJECT THEME COLORS PALETTE
$primary-purple: #9356DC;
$primary-purple-lighter: #aa81dc;
$color-dark-purple: #6521b9;
$color-light-purple: #b47cf8;
$secondary: #FF79DA;
$secondary-lighter: #fa98df;
$tertiary: #99E2D0;
$colors-blue: #003A68;
$colors-light-blue: #89C8FA;
$colors-green: #008766;
$colors-light-green: #99E2D0;
$page-light-grey-bg: #F3F3F3;
$header-light-grey: #EAEAEA;
$navigation-light-grey: #e6e2e2;
$footer-color: #353535;
$grey-font: #353535;
$white-bg: #fff;
$white-font: #fff;
$black-font: #000;
$i-symbol-color: #7e7e7e;
$home-page-nav-color: #F6F6F6;
$hart-symbol-color: linear-gradient(#FF79DA, #9356DC);
$hover-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
$base-box-shadow: 0 5px 1px rgba(0, 0, 0, 0.4);
$base-button-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

// INDEX PAGE FONT SIZES
$h1-font-size: 28px;
$h1-font-weight: 400;
$h1-line-height: 40.82px;

$h2-font-size: 24px;
$h2-font-weight: 700;
$h2-line-height: 28.13px;

$h3-font-size: 18px;
$h3-font-weight: 700;
$h3-line-height: 21.09px;

$p-font-size: 17px;
$p-font-weight: 300;
$p-line-height: 18.75px;

// RESTAURANT PAGE FONT SIZES

//PAGE MAIL TILE FONT SIZE
$h1-font-size: 28px;
$h1-font-weight: 300;
$h1-line-height: 40.82px;

//SECTION MAIN TITLE FONT SIZE (STARTER, MAIN & DESSERTS) 
$h2-font-size: 16px;
$h2-font-weight: 300;
$h2-line-height: 18.75px;

//MEAL NAME FONT SIZE
$h3-font-size: 18px;
$h3-font-weight: 500;
$h3-line-height: 21.09px;

//MEAL DESCRIPTION AND PRICE FONT SIZE
$p-font-size: 15.04px;
$p-font-weight: 300;
$p-line-height: 17.63px;