//IMPORTING VARIABLES AND FUNCTIONS
@import "../saas/variables";

// BASE AND LAYOUT


// COLORS

// COMPONENTS (BUTTONS, CARDS, NAVBAR)

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

#preloader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background: #fff url("../Images-and-text-Ohmyfood/images/preloader.gif") no-repeat center center;
  background-size: 50%;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.preloader-img {
  display: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  // border: 2px solid red;
  width: 375px;
  margin: 0 auto;
}

.header-logo-div {
  display: flex;
  flex-direction: row;
  margin: 0;
  background-color: $white-bg;
  border: 1px solid $white-bg;
  position: sticky;
  top: 0;
  border-bottom: 2px solid rgba(128, 128, 128, 0.462);

  .header-logo {
    display: flex;
    width: 162px;
    margin: 20px auto;
  }

  .header-logo:hover {
    cursor: pointer;
  }
}

/* TOP LEFT ARROW */
.header-logo-div .fa-solid,
.fa-arrow-left {
  font-size: 25px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.header-logo-div .fa-arrow-left:hover {
  color: $hart-symbol-color;
  cursor: pointer;
}

.restaurant-banner-image img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 275px;
  width: 100%;
  -o-object-position: 100% 80%;
  object-position: 100% 80%;
}

.page-main-section-div {
  position: absolute;
  width: 375px;
  top: 300px;
  height: 1400px;
  background-color: #F6F6F6;
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;


  .page-title {
    color: #101010;
    margin-top: 30px;
    padding-left: 20px;
    font-size: $h1-font-size;
    font-weight: $h1-font-weight;
    line-height: $h1-line-height;
    font-family: "Shrikhand";
    position: relative;
    margin-bottom: 30px;
  }
}

.fa-regular.fa-heart {
  position: absolute;
  left: 320px;
  top: 35px;
  font-size: 30px;
}

.fa-regular.fa-heart:hover {
  color: $hart-symbol-color;
}


/* MENU AMINATION HERE */
.animation {
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.animation::before {
  content: "";
  position: absolute;
  right: -80px;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: #99E2D0;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.animation-1::before {
  transform: scaleX(0);
}

.animation-1:hover::before {
  transform: scaleX(-1);
}

/* MENU AMINATION END */
.starters-main-div {
  display: flex;
  flex-direction: column;

  .starter-section-title {
    margin-left: 15px;
    text-transform: uppercase;
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
    line-height: $h2-line-height;
  }
}

.starter-banner {
  border-radius: 20px;
  margin: 10px;
  padding: 10px 0;
  background-color: $white-bg;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;

  .starter-menu-item-title {
    margin-left: 10px;
    font-size: $h3-font-size;
    font-weight: $h3-font-weight + 200;
    line-height: $h3-line-height;
    padding: 5px 0;
  }

  .starter-menu-item-p-text {
    margin-left: 10px;
    font-size: $p-font-size - 2px;
    font-weight: $p-font-weight;
    line-height: $p-line-height;
  }

  .starter-menu-item-price {
    color: $black-font;
    margin-left: 40px;
    font-size: $p-font-size - 2px;
    font-weight: $p-font-weight + 200;
    line-height: $p-line-height;
    position: absolute;
    top: 40px;
    right: 20px;
  }
}

/* MAINS MENU SECTION HERE */
.main-section-menu-list-div {
  display: flex;
  flex-direction: column;

  .mains-section-title {
    margin-top: 30px;
    margin-left: 15px;
    text-transform: uppercase;
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
    line-height: $h2-line-height;
  }
}

.mains-banner {
  border-radius: 20px;
  margin: 10px;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;

  .main-item-title {
    margin-left: 10px;
    font-size: $h3-font-size;
    font-weight: $h3-font-weight + 200;
    line-height: $h3-line-height;
    padding: 5px 0;
  }

  .main-item-p-text {
    margin-left: 10px;
    font-size: $p-font-size;
    font-weight: $p-font-weight;
    line-height: $p-line-height;
  }

  .main-menu-item-price {
    color: $black-font;
    margin-left: 95px;
    font-size: $p-font-size;
    font-weight: $p-font-weight;
    line-height: $p-line-height;
    position: absolute;
    top: 40px;
    right: 20px;
  }
}

/* DESSERT MENU HERE */
.desserts-section-div {
  display: flex;
  flex-direction: column;

  .desserts-section-title {
    margin-left: 15px;
    text-transform: uppercase;
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
    line-height: $h2-line-height;
    margin-top: 30px;
  }
}

.underline-div {
  background-color: #99E2D0;
  width: 40px;
  padding: 2px;
  margin: 5px 15px;
}

.desserts-banner {
  border-radius: 20px;
  margin: 10px;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;


  .dessert-item-title {
    margin-left: 10px;
    font-size: $h3-font-size;
    font-weight: $h3-font-weight + 200;
    line-height: $h3-line-height;
    padding: 5px 0;
  }

  .main-item-p-text {
    margin-left: 10px;
    font-size: $p-font-size;
    font-weight: $p-font-weight;
    line-height: $p-line-height;
  }

  .dessert-menu-item-price {
    color: #353535;
    margin-left: 120px;
    font-size: $p-font-size;
    font-weight: $p-font-weight;
    line-height: $p-line-height;
    position: absolute;
    top: 40px;
    right: 20px;
  }
}

/* ORDER BUTTON HERE */
.order-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 93px;
  border-radius: 39px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  color: #fff;
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.7);
  transition: ease-in-out 0.3s;
}

.order-btn:hover {
  cursor: pointer;
  box-shadow: 0 15px 5px rgba(0, 0, 0, 0.4);
  transition: ease-in-out 0.3s;
}


/* FOOTER SECTION */
footer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1200px;
  margin: 0 auto;
  width: 375px;
  background-color: #353535;

  .footer-logo-img {
    width: 137.18px;
    height: 27px;
    margin: 20px 20px;
    filter: invert(100%) sepia(0%) saturate(7493%) hue-rotate(150deg) brightness(105%) contrast(104%);
  }

  .footer-nav {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-decoration: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  /* FOOTER SYMBOLS */
  .footer-nav i {
    padding-right: 15px;
  }

  .fa-solid.fa-handshake-angle {
    color: #fff;
  }

  .fa-solid.fa-utensils {
    color: #fff;
  }
}

#preloader {
  background-color: #000 url(../Images-and-text-Ohmyfood/images/preloader.gif) no-repeat center center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
}


/* @ MEDIA 1440 PX */
@media all and (min-width: 1440px) {
  .page-container {
    display: flex;
    flex-direction: column;
    // border: 1px solid green;
    min-width: 1440px;
    margin: 0 auto;
  }

  .page-main-section-div .page-title {
    display: flex;
    justify-content: center;
  }

  .restaurant-banner-image img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 383px;
    width: 100%;
    -o-object-position: 100% 60%;
    object-position: 100% 60%;
  }

  .page-main-section-div {
    position: relative;
    top: -40px;
    width: 1055px;
    height: 1340px;
    margin: 0 auto;
    background-color: #F6F6F6;
    border-top-left-radius: 39px;
    border-top-right-radius: 39px;

    .page-title {
      position: relative;
    }
  }



  .fa-regular.fa-heart {
    position: absolute;
    left: 700px;
    top: 40px;
    font-size: 30px;
  }

  .starters-main-div,
  .main-section-menu-list-div,
  .desserts-section-div {
    display: flex;
    flex-direction: column;
    width: 634px;
    margin: 0 auto;
  }

  /* AMINATION */
  .animation::before {
    content: "";
    position: absolute;
    right: -180px;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: #99E2D0;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }

  /* FOOTER */
  footer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    position: absolute;
    top: 1660px;
    width: 1440px;
    justify-content: end;
    align-items: center;
    background-color: #353535;
    padding-top: 30px;
    padding-right: 300px;
    margin-top: 35px;

    .footer-logo-img {
      display: flex;
      flex-direction: row;
      position: relative;
      left: 800px;
      margin-bottom: 40px;
    }
  }

  #preloader {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: #fff url("../Images-and-text-Ohmyfood/images/preloader.gif") no-repeat center center;
    background-size: 50%;
    width: 100%;
    height: 100vh;
    z-index: 100;
  }

}

/*# sourceMappingURL=restaurant-menu-page-style.css.map */