* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.page-container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 375px;
  margin: 0 auto;
}

.fa-solid,
.fa-regular {
  color: black;
}

.logo {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin: 20px 0;
}

.logo img {
  display: flex;
  width: 162px;
  margin: 0px auto;
}

.logo i {
  padding-left: 10px;
}

.logo .fa-solid,
.fa-arrow-left {
  font-size: 25px;
}

.logo .fa-arrow-left:hover {
  color: #9356DC;
}

.kitchen-west-image img {
  object-fit: cover;
  height: 170px;
  width: 100%;
  object-position: 100% 80%;
}

.main-div {
  position: absolute;
  width: 375px;
  top: 200px;
  background-color: #F6F6F6;
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
}

.main-div h1 {
  color: #101010;
  margin-top: 30px;
  padding-left: 20px;
  font-size: 28px;
  font-weight: 400;
  line-height: 40.82px;
  font-family: "Shrikhand";
}

.main-div h1 i {
  margin-left: 100px;
  margin-bottom: 30px;
}

/* MENU AMINATION HERE */
.animation {
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
  /* transition: color 1.4s linear; */
}

.animation::before {
  content: "";
  position: absolute;
  right: -80px;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: #99E2D0;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.animation-1::before {
  transform: scaleX(0);
}

.animation-1:hover::before {
  transform: scaleX(-1);
}

/* MENU AMINATION END */
#starters-div {
  display: flex;
  flex-direction: column;
}

#starters-div h2 {
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
}

.starter-banner {
  border-radius: 20px;
  margin: 10px;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.starter-banner h3 {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  padding: 5px 0;
}

.starter-banner p {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 300;
  line-height: 17.63px;
}

.starter-banner span {
  color: #353535;
  margin-left: 40px;
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
}

.starter-banner #ham-p span {
  color: #353535;
  margin-left: 215px;
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
}

.starter-banner #egg-p span {
  color: #353535;
  margin-left: 90px;
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
}

/* MAINS MENU SECTION HERE */
#mains-div {
  display: flex;
  flex-direction: column;
}

#mains-div h2 {
  margin-top: 30px;
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
}

.mains-banner {
  border-radius: 20px;
  margin: 10px;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.mains-banner h3 {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  padding: 5px 0;
}

.mains-banner p {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 300;
  line-height: 17.63px;
}

.mains-banner #beef-p span {
  color: #353535;
  margin-left: 95px;
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
}

.mains-banner #oxtail-p span {
  color: #353535;
  margin-left: 70px;
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
}

.mains-banner #fillet-p span {
  color: #353535;
  margin-left: 170px;
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
}

/* DESSERT MENU HERE */
#desserts-div {
  display: flex;
  flex-direction: column;
}

#desserts-div h2 {
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  margin-top: 30px;
}

.underline-div {
  background-color: #99E2D0;
  width: 40px;
  padding: 2px;
  margin: 5px 15px;
}

.desserts-banner {
  border-radius: 20px;
  margin: 10px;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.desserts-banner h3 {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  padding: 5px 0;
}

.desserts-banner p {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 300;
  line-height: 17.63px;
}

.desserts-banner #treacle-p span {
  color: #353535;
  margin-left: 120px;
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
}

.desserts-banner #lemon-p span {
  color: #353535;
  margin-left: 145px;
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
}

.desserts-banner #chocolate-p span {
  color: #353535;
  margin-left: 45px;
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
}

/* ORDER BUTTON HERE */
.order-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 93px;
  border-radius: 39px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  color: #fff;
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}

/* FOOTER SECTION */
footer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1105px;
  margin: 0 auto;
  width: 375px;
  background-color: #353535;
}

footer img {
  width: 137.18px;
  height: 27px;
  margin: 20px 20px;
  filter: invert(100%) sepia(0%) saturate(7493%) hue-rotate(150deg) brightness(105%) contrast(104%);
}

footer a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-decoration: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

footer a i {
  padding-right: 15px;
}

.fa-solid.fa-handshake-angle {
  color: #fff;
}

.fa-solid.fa-utensils {
  color: #fff;
}

/* @ MEDIA 1440 PX */
@media all and (min-width: 1440px) {
  .page-container {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    min-width: 1440px;
    margin: 0 auto;
  }
  .main-div h1 {
    display: flex;
    justify-content: center;
  }
  .main-div h1 i {
    margin-top: 5px;
  }
  .kitchen-west-image img {
    object-fit: cover;
    height: 383px;
    width: 100%;
    object-position: 100% 60%;
  }
  .main-div {
    position: relative;
    top: -40px;
    width: 1000px;
    margin: 0 auto;
    background-color: #F6F6F6;
    border-top-left-radius: 39px;
    border-top-right-radius: 39px;
  }
  #starters-div,
  #mains-div,
  #desserts-div {
    display: flex;
    flex-direction: column;
    width: 634px;
    margin: 0 auto;
  }
  .starter-banner #salmon-p span {
    margin-left: 300px;
  }
  .starter-banner #ham-p span {
    margin-left: 470px;
  }
  .starter-banner #egg-p span {
    margin-left: 350px;
  }
  .mains-banner #beef-p span {
    margin-left: 350px;
  }
  .mains-banner #oxtail-p span {
    margin-left: 325px;
  }
  .mains-banner #fillet-p span {
    margin-left: 430px;
  }
  .desserts-banner #treacle-p span {
    margin-left: 375px;
  }
  .desserts-banner #lemon-p span {
    margin-left: 400px;
  }
  .desserts-banner #chocolate-p span {
    margin-left: 300px;
  }
  /* FOOTER */
  /* footer{
                          display: flex;
                          flex-direction: column;
                          position: relative;
                          top: 1105px;
                          margin: 0 auto;
                          width: 375px;      
                          background-color: #353535;
                      }
                       */
  footer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    position: absolute;
    top: 1565px;
    width: 1440px;
    justify-content: end;
    align-items: center;
    background-color: #353535;
    padding-bottom: 10px;
    padding-top: 50px;
    padding-right: 300px;
  }
  footer img {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 800px;
    margin-bottom: 40px;
  }
  .header-section h2#header-h2 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 28.13px;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .animation::before {
    content: "";
    position: absolute;
    right: -180px;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: #99E2D0;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  }
}